<div
  id="giscus_thread"
  {% if page.layout == 'post' %}
    style="max-width: {{ site.max_width }}; margin: 0 auto;"
  {% endif %}
>
  {% if page.layout == 'post' %}
    <br>
  {% endif %}

  {% if site.giscus.repo %}
    <script defer src="{{ '/assets/js/giscus-setup.js' | relative_url }}"></script>
    <noscript>
      请启用 JavaScript 以查看
      <a href="http://giscus.app/?ref_noscript">giscus 评论系统。</a>
    </noscript>
  {% else %}
    {% capture giscus_warning %}
> ##### giscus 评论配置错误
> 请按照 [http://giscus.app](http://giscus.app) 的说明更新您的 giscus 配置。
{: .block-danger }
    {% endcapture %}
    {{ giscus_warning | markdownify }}
  {% endif %}
</div>
